header {
  color: red !important;
  text-align: center;
  display: flex;
  background-color: blue;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 50px;
}

header div {
  row-gap: 0;
}

.place {
  font-size: 40px;
  /* animation: dropDown 2s linear; */
  color: rgb(42, 140, 40);
}

@keyframes dropDown {
  0% {
    margin-bottom: 0;
    color: red;
  }

  100% {
    margin-top: 0px;
    margin-bottom: 0;
    color:green;
  }
}
